*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin: 0px auto; */
  padding: 20px;
  gap: 20px;

}

.container1{
    background-color:  blueviolet;
   padding: 20px 30px;
   border-radius: 25px;
   text-align: center;
  

}

.container1 h2 ,h3{
  color: white;
  font-weight:  bold;
  font-size: 2vw;
 
 }

.first-para p:nth-child(1){
  color: white;
  font-size: 2vw;
  /* margin-top: 20px; */

}

.first-para p:last-child{
  color: white;
  font-size: 1vw;
  /* margin-top: 30px; */
  line-height: 30px;

}



.container-first-name{
  margin-left: 40px;
}

.container-second-name{
  /* margin-left: 30px; */
}



.container2{
 background-color:  hsl(217, 19%, 35%);
  padding: 20px 30px;
  border-radius: 25px;

}

.image-header2{
  display: flex;
}

.image2{
  margin-left: 20px;
  margin-top: 20px;
}
.first-para p:nth-child(1){
 color: white;
 font-size: 2vw;
 margin-top: 20px;

}

.first-para p:last-child{
 color: white;
 font-size: 1.6vw;
 margin-top: 10px;
 line-height: 50px;

}

.wrapper .image2, .image3, .image4{
 width: 11%;
 height: 20%;
 border-radius: 20px;
 margin-left: 20px;
margin-top: 15px;
}

.image1{
  width: 6%;
  border-radius: 20px; 
  height: 10%; 
  margin-left: 20px;
  margin-top: 15px;
}

.image5{
  width: 5%;
  border-radius: 20px; 
  height: 10%; 
  margin-left: 20px;
  margin-top: 15px;
}

.image-header1{
 display: flex;
 
}

.container-first-name{
 margin-left: 40px;
}


.container-second-name h2{
  margin: 10px 20px;
  color: white;
  font-weight: 700px;
  font-size: 1.9vw;
}

.container-second-name h3{
  margin: 10px 40px;
  color: white;
  font-weight: 700px;
  font-size: 1.7vw;
}

.second-para {
margin: 20px auto;
text-align: center;

}

.second-para p{
  font-size: 2vw;
  color:  white;
  line-height: 50px;
}

.container3{
  background-color:  rgb(114, 108, 108);
  padding: 20px 30px;
  border-radius: 25px;
}

.container-three-name h2{
  margin: 10px 30px;
  color:  white;
  font-weight: 700px;
  font-size: 2.1vw;
}

.container-three-name h3{
  margin: 10px 40px;
  color:  black;
  font-weight: 700px;
  font-size: 2vw;
}

.three-para {
margin: 20px auto;
text-align: center;

}

.image-header3{
  display: flex;
}

.third-para p{
  font-size: 2vw;
  color: black;
  margin: 20px 40px;
  line-height: 60px;
}
.container4{
  background-color: rgb(223, 183, 183);
  padding: 10px 10px;
  border-radius: 25px;
}

.container-four-name h2{
  color: white;
  font-weight: 700px;
  font-size: 2.2vw;
}
.container-four-name h3{
  margin: 10px;
  color: white;
  font-weight: 700px;
  font-size: 2.2vw;
}

.image-header4{
  display: flex;
}

.four-para {
margin: 20px auto;
text-align: center;

}

.four-para p{
  font-size: 1.5vw;
  color: black;
  /* margin: 20px ; */
  line-height: 40px;
  text-align: center;
  padding: 0px 20px;
}

.container5{
  background-color: hsl(219, 29%, 14%);
  padding: 20px 30px;
  border-radius: 25px;
}

.container-five-name h2{

  margin: 20px 40px;
  color: white;
  font-weight: 700px;
  font-size: 2vw;
}

.container-five-name h3{
  margin: 10px 40px;
  color: black;
  font-weight: 700px;
  font-size: 2vw;
}

.five-para {
margin: 20px auto;
text-align: center;

}

.image-header5{
  display: flex;
}

.five-para p{
  font-size: 1.8vw;
  color: white;
  margin: 10px 40px;
  line-height: 60px;
}


.wrapper .container1:nth-child(1){
 
  grid-column:  1 /3;
}

.wrapper .container5:nth-child(5){
 
 grid-column: span 2;
}

.wrapper .container3:nth-child(3){
  background-color: red;
grid-row: span 2;
}


@media screen and (max-width : 1024px){
  .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px ;
  }
  .wrapper .container3:nth-child(3){
    background-color: red;
  grid-column: 1/ 5;
  }

  .wrapper .container4:nth-child(4){

  grid-column: 1/ 5;
  }
  .wrapper .container5:nth-child(5){

  grid-column: 1/ 5;
  }

  .container1 h2 ,h3{
    color: white;
    font-weight:  bold;
    font-size: 2.5vw;
   
   }
  
  .first-para p:nth-child(1){
    color: white;
    font-size: 2.5vw;
    line-height: 30px;
    
  
  }
  
  .first-para p:last-child{
    color: white;
    font-size: 2.3vw;
    /* margin-top: 30px; */
    line-height: 60px;
  
  }

  .container-second-name h2{
    margin: 10px 20px;
    color: white;
    font-weight: 700px;
    font-size: 2.5vw;
  }
  
  .container-second-name h3{
    margin: 10px 40px;
    color: white;
    font-weight: 700px;
    font-size: 2.5vw;
  }

  .second-para p{
    font-size: 2.4vw;
    color:  white;
    line-height: 50px;
  }


  .container-three-name h2{
    margin: 10px 30px;
    color:  white;
    font-weight: 700px;
    font-size: 2.5vw;
  }
  
  .container-three-name h3{
    margin: 10px 40px;
    color:  black;
    font-weight: 700px;
    font-size: 2.5vw;
  }

  .third-para p{
    font-size: 2.5vw;
    color: black;
    margin: 20px 40px;
    line-height: 60px;
  }
  .wrapper .image3{
      width: 5%;
      height: 20%;
      border-radius: 50%;
      margin-left: 30px;
  }

  .wrapper .image4{
    width: 5%;
    height: 20%;
    border-radius: 50%;
    margin-left: 30px;
}

.wrapper .image5{
  width: 4%;
  height: 20%;
  border-radius: 50%;
  margin-left: 30px;
}

  .container-four-name h2{
    color: white;
    font-weight: 700px;
    font-size: 2.7vw;
    margin-left: 20px;
  
  }
  
.container-four-name h3{
    margin: 10px;
    color: white;
    font-weight: 700px;
    font-size: 2.5vw;
  }
 
.four-para p{
  font-size: 2.5vw;
  color: black;
  /* margin: 20px ; */
  line-height: 54px;
  text-align: center;
  padding: 0px 20px;
}

.container-five-name h2{
  padding-left: 40px;
  color: white;
  font-weight: 700px;
  font-size: 2.5vw;
  margin-left: 30px;
}

.container-five-name h3{
  margin: 10px 40px;
  color:  white;
  font-weight: 700px;
  font-size: 2.5vw;
}
.five-para p{
  font-size: 2.5vw;
  color: white;
  margin: 40px 40px;
  line-height: 70px;
}
  
}

@media screen and (max-width : 768px){
  .wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper .container1:nth-child(1){
    grid-column:  1 /5;
  }
  .wrapper .container2:nth-child(2){
    grid-column:  1 /5;
  }
  .wrapper .container3:nth-child(3){
    grid-column:  1 /5;
  }
  .wrapper .container4:nth-child(4){
    grid-column:  1 /5;
  }
  .wrapper .container5:nth-child(5){
    grid-column:  1 /5;
  }

  /* tablet media query for all the headers and paragragh */

  
  .container1 h2 ,h3{
    color: white;
    font-weight:  bold;
    font-size: 2.7vw;
   
   }
  
  .first-para p:nth-child(1){
    color: white;
    font-size: 2.7vw;
    /* margin-top: 20px; */
    line-height: 40px;
  
  }
  
  .first-para p:last-child{
    color: white;
    font-size: 2.7vw;
    /* margin-top: 30px; */
    line-height: 40px;
  
  }

  .container-second-name h2{
    margin-left:  50px;
    color: white;
    font-weight: 700px;
    font-size: 2.8vw;
  }
  
  .container-second-name h3{
    margin: 10px 40px;
    color: white;
    font-weight: 700px;
    font-size: 2.8vw;
  }
  .wrapper .image2{
    width: 6%;
    height: 20%;
    border-radius: 50%;
    margin-left: 30px;
  }

  .second-para p{
    font-size: 2.7vw;
    color:  white;
    line-height: 50px;
  }


  .container-three-name h2{
    margin: 10px 30px;
    color:  white;
    font-weight: 700px;
    font-size: 2.9vw;
  }
  
  .container-three-name h3{
    margin: 10px 40px;
    color:  black;
    font-weight: 700px;
    font-size: 2.8vw;
  }

  .third-para p{
    font-size: 2.7vw;
    color: black;
    margin: 20px 40px;
    line-height: 60px;
  }
  .wrapper .image3{
      width: 6%;
      height: 30%;
      border-radius: 50%;
  }

  .wrapper .image4{
    width: 6%;
    height: 30%;
    border-radius: 50%;
}

  .container-four-name h2{
    color: white;
    font-weight: 700px;
    font-size: 2.7vw;
  
  }
  
.container-four-name h3{
    margin: 10px;
    color: white;
    font-weight: 700px;
    font-size: 2.7vw;
  }
 
.four-para p{
  font-size: 2.7vw;
  color: black;
  /* margin: 20px ; */
  line-height: 54px;
  text-align: center;
  padding: 0px 20px;
}

.container-five-name h2{
  padding-left: 40px;
  color:   white;
  font-weight: 700px;
  font-size: 2.7vw;
}

.container-five-name h3{
  margin: 10px 40px;
  color:  white;
  font-weight: 700px;
  font-size: 2.7vw;
}
.five-para p{
  font-size: 2.5vw;
  color: white;
  margin: 40px 40px;
  line-height: 70px;
}
}


/* Mobile media query here */

@media screen and (max-width : 600px){
  .wrapper{
    display: grid;
    grid-template-columns:  1fr;
  }
  .wrapper .container1:nth-child(1){
    grid-column:  1 /5;
  }
  .wrapper .container2:nth-child(2){
    grid-column:  1 /5;
  }
  .wrapper .container3:nth-child(3){
    grid-column:  1 /5;
  }
  .wrapper .container4:nth-child(4){
    grid-column:  1 /5;
  }
  .wrapper .container5:nth-child(5){
    grid-column:  1 /5;
  }

  /* mobile media query for all the headers and paragragh */

  
  .container1 h2 ,h3{
    color: white;
    font-weight:  bold;
    font-size: 5vw;
    margin-top: 30p;
    margin-left: 20px;
   
   }
  
  .first-para p:nth-child(1){
    color: white;
    font-size: 4vw;
    /* margin-top: 20px; */
    line-height: 40px;
  
  }
  
  .first-para p:last-child{
    color: white;
    font-size: 4vw;
    /* margin-top: 30px; */
    line-height: 35px;
  
  }

  .container-second-name h2{
    margin-left:  50px;
    color: white;
    font-weight: 700px;
    font-size: 4vw;
  }
  
  .container-second-name h3{
    margin: 10px 40px;
    color: white;
    font-weight: 700px;
    font-size: 4vw;
  }
  .wrapper .image2{
    width: 6%;
    height: 20%;
    border-radius: 50%;
    margin-left: 30px;
  }

  .second-para p{
    font-size: 4vw;
    color:  white;
    line-height: 50px;
  }


  .container-three-name h2{
    margin-left: 40px;
    color:  white;
    font-weight: 700px;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container-three-name h3{
    margin: 10px 40px;
    color:  white;
    font-weight: 700px;
    font-size: 4.5vw;
    font-family: Arial, Helvetica, sans-serif;
  }

  .third-para p{
    font-size: 4vw;
    color: white;
    margin: 20px 40px;
    line-height: 60px;
  }
  .wrapper .image3{
      width: 7%;
      height: 20%;
      border-radius: 50%;
  }

  .container-four-name h2{
    color: white;
    font-weight: 700px;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: 10px;
  
  }

  .wrapper .image4{
    width: 7%;
    height: 20%;
    border-radius: 50%;
    margin-left: 30px;
}
  
.container-four-name h3{
    margin-left: 30px;
    color: white;
    font-weight: 700px;
    font-size: 5vw;
  }
 
.four-para p{
  font-size: 4vw;
  color: black;
  /* margin: 20px ; */
  line-height: 54px;
  text-align: center;
  padding: 0px 20px;
}

.container-five-name h2{
  padding-left: 40px;
  color: white;
  font-weight: 700px;
  font-size:5vw;
}

.container-five-name h3{
  margin: 10px 40px;
  color:  white;
  font-weight: 700px;
  font-size: 5vw;
}
.five-para p{
  font-size: 5vw;
  color: white;
  margin: 30px 40px;
  line-height: 70px;
}
}
